<div class="row">
  <div class="col-sm-6">
    <p id='event'>Maha Panchami</p>
  </div>
  <div class="col-sm-6">
    <p id='italic'>September 29, 2014</p>
  </div>
</div>
<div class='table-responsive'>
  <table class='table table-hover'>
    <tr>
      <td>Bodhan</td>
      <td class='dtime'>6:00 pm</td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class="row">
  <div class="col-sm-6">
    <p id='event'>Maha Sashthi</p>
  </div>
  <div class="col-sm-6">
    <p id='italic'>September 30, 2014</p>
  </div>
</div>
<div class='table-responsive'>
  <table class='table table-hover'>
    <tr>
      <td>Kalparambha</td>
      <td class='dtime'>7:00 am</td> 
    </tr>
    <tr>
      <td>Amantran & Adhibas</td>
      <td class='dtime'>6:00 pm</td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class="row">
  <div class="col-sm-6">
    <p id='event'>Maha Saptami</p>
  </div>
  <div class="col-sm-6">
    <p id='italic'>October 1, 2014</p>
  </div>
</div>
<div class='table-responsive'>
  <table class='table table-hover'>
    <tr>
      <td>Naba Patrika & Puja</td>
      <td class='dtime'>7:00 am</td> 
    </tr>
    <tr>
      <td>Pushpanjali</td>
      <td class='dtime'>9:00 am</td> 
    </tr>
    <tr>
      <td>Prasad</td>
      <td class='dtime'>9:30 am</td> 
    </tr>
    <tr>
      <td>Arati</td>
      <td class='dtime'>7:00 pm</td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class="row">
  <div class="col-sm-6">
    <p id='event'>Maha Astami</p>
  </div>
  <div class="col-sm-6">
    <p id='italic'>October 2, 2014</p>
  </div>
</div>
<div class='table-responsive'>
  <table class='table table-hover'>
    <tr>
      <td>Puja</td>
      <td class='dtime'>5:00 am</td> 
    </tr>
    <tr>
      <td>Pushpanjali</td>
      <td class='dtime'>7:30 am</td> 
    </tr>
    <tr>
      <td>Sandi Puja</td>
      <td class='dtime'>8:05 am - 8:53 am</td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class="row">
  <div class="col-sm-6">
    <p id='event'>Maha Nabami</p>
  </div>
  <div class="col-sm-6">
    <p id='italic'>October 2, 2014</p>
  </div>
</div>
<div class='table-responsive'>
  <table class='table table-hover'>
    <tr>
      <td>Puja</td>
      <td class='dtime'>9:30 am</td> 
    </tr>
    <tr>
      <td>Pushpanjali</td>
      <td class='dtime'>12:30 pm</td> 
    </tr>
    <tr>
      <td>Prasad</td>
      <td class='dtime'>1:00 pm</td> 
    </tr>
    <tr>
      <td>Arati</td>
      <td class='dtime'>7:00 pm</td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class="row">
  <div class="col-sm-6">
    <p id='event'>Maha Dasami</p>
  </div>
  <div class="col-sm-6">
    <p id='italic'>October 3, 2014</p>
  </div>
</div>
<div class='table-responsive'>
  <table class='table table-hover'>
    <tr>
      <td>Puja</td>
      <td class='dtime'>6:30 am</td> 
    </tr>
    <tr>
      <td>Darpan Bisarjan</td>
      <td class='dtime'>7:00 am</td> 
    </tr>
    <tr>
      <td>Sindoor Utsab</td>
      <td class='dtime'>10:00 am</td> 
    </tr>
    <tr>
      <td>Immersion</td>
      <td class='dtime'>3:00 pm</td> 
    </tr>
    <tr>
      <td>Shantijal</td>
      <td class='dtime'>7:30 pm</td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->