<div class='table-responsive'>
  <table class='table'>
    <tr>
      <td>September 29, 2014</td>
      <td class='custom-align'>
        <p>Sharadiyo Abhinandan</p>
        <p>Bengali programme</p>
        <p>RD Burman a salute</p>
      </td>
      <td class='realign-image'><%= image_tag("event1.jpg", width: '120', class: 'img-thumbnail') %></td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class='table-responsive'>
  <table class='table'>
    <tr>
      <td>September 30, 2014</td>
      <td class='custom-align-2'>
        <p>Bengali Drama: 'Language'</p>
      </td>
      <td class='realign-image'><%= image_tag("event2.jpg", width: '120', class: 'img-thumbnail') %></td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class='table-responsive'>
  <table class='table'>
    <tr>
      <td>October 1, 2014</td>
      <td class='custom-align-3'>
        <p>Supratik</p>
        <p>Modern Bengali songs</p>
      </td>
      <td class='realign-image'><%= image_tag("event3.jpg", width: '120', class: 'img-thumbnail') %></td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class='table-responsive'>
  <table class='table'>
    <tr>
      <td>October 2, 2014</td>
      <td class='custom-align'>
        <p>Zubin Garg Nite</p>
      </td>
      <td class='realign-image'><%= image_tag("event4.jpg", width: '120', class: 'img-thumbnail') %></td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->