<!-- <div class='container'> -->
<div id='index-view'>

  <!-- Carousel -->
  
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("slide1.jpg", class: 'img-thumbnail', class: 'img-responsive') %>
        <div class="container">
          <!-- <div class="carousel-caption">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          </div> -->
        </div>
      </div>
      <div class="item">
        <%= image_tag("slide2.jpg", class: 'img-thumbnail', class: 'img-responsive') %>
        <div class="container">
          <!-- <div class="carousel-caption">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          </div> -->
        </div>
      </div>
      <div class="item">
        <%= image_tag("slide3.jpg", class: 'img-thumbnail', class: 'img-responsive') %>
        <div class="container">
          <!-- <div class="carousel-caption">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>  
  </div>
  </br>
  <div class='col-md-12'>
    <p>
    The Notunpalli Durgotsab Committee has come a long way since its inception 42 years ago in Bandra, Mumbai. From a band of a few dedicated members who wanted to usher in the beauty and the fervor of Durga Puja from its native land Bengal to the metro, the puja has grown magnanimously encompassing one and all who wish to join in its gaiety.
 
    While prayers fill in the morning hours with the resounding drums or dhaks that reverberate the dervish frenzy of devotees, the evenings strum with music , dance and drama with around 1 lakh people participating in the puja celebrations. All devotees partake the bhog (Prasad) in the afternoon that is served with warmth and the deep philosophy that Service to Man is Service to God. Over 20,000 devotees are served the warm bhog throughout the puja that spreads the feeling of oneness. 
     
    On one hand it is a cultural amalgamation of sorts but on the other, the Committee also shares social responsibility in the fields of health and education. Notunpalli Durgotsab has participants from the world over who share the feeling of being part of a big family with the common belief that the festival of the Goddess Durga, the icon of mighty womanhood, is the celebration that destroys the evil and welcomes all that is good, true and victorious. 
     
    Come and join us in this eternal festivity of joy and togetherness.
    </p>
  </div>
</div>