<h1>2014</h1>
<div class='container'>
  <div class='align-width'>
    <ul class="row" id="photos-list">
    
      <% Photo.all.each do |photo| %>
        <% if photo.title == '2014' %> 
          
          <% if current_user %>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= link_to photo, method: :delete, remote: true, id: "photo-#{photo.id}", data: {confirm: 'Are you sure?'} do %>
            <%= image_tag photo.image.url, class: 'img-responsive', class: 'img-thumbnail' %>
              <i class="glyphicon glyphicon-remove"> </i></li>
            <% end %> 
          
          <% else %>
          
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%= link_to image_tag(photo.image.url, class: 'img-thumbnail'), photo.image.remote_url, rel: 'gallery', :data => { :colorbox_static => true, colorbox_photo: true}, target: '_blank' %></li>

          <% end %>
        
        <% end %>
      <% end %>
    </ul>
  </div>
</div>