@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'welcomes.css.scss';

.user-info {
  margin-top: 9px;
}

.alert{
  margin-top: 2.5%;
}

.form-group{
  margin-bottom: 0;
}

.hidden { display: none; }

#photos-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 172px;
    max-height: 272px;
    margin-bottom: 10px;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
    p {
      margin: 0;
      height: 40px;
      overflow: hidden;
    }
  }
}

.progress-wrapper {
  display: none;
}

.btn-mini{
  padding: 0 4px;
}