/*
*= require colorbox-rails
*= require_self
*/
@import url('//fonts.googleapis.com/css?family=Arimo|Josefin+Slab:400,600,700|Raleway|Inconsolata')
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'welcomes.css.scss';
@import 'contents.css.scss';

html body{
  background-image: image-url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
a {
  color: #cc0303;
}
a:hover{
  text-decoration: none;
  color: #fff;
}

.nav > li > a:hover, .nav >li > a:focus{
  color: #FF7902;
  background-color: #fff;
  text-shadow: 0.5px 0.5px #000;
}
.user-info{
  margin-top: 9px;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 18px;
}

#change-font{
  font-size: 46px;
  font-family: 'Arimo', sans-serif;
  color: #fff;
  text-shadow: 2.5px 2px #FF7902;
}

.alert{
  margin-top: 2.8%;
  margin-bottom: 1%;
}

.form-group{
  margin-bottom: 0;
}

.hidden { display: none; }

#photos-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin-right: 2.5%;
    margin-bottom: 10px;
    
    img {
      margin-bottom: 10px;
      width: 6.25em;
      height: 6.25em;
    }
  }
}
#gallery{
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin-right: 2.5%;
    
    p {
      margin: 0;
      height: 40px;
      overflow: hidden;
      text-align: center;
    }
  }
}
.align-width{
  text-align: center;
  width: 50%;
}

.progress-wrapper {
  display: none;
}

.btn-mini{
  padding: 0 4px;
}

.controls{          
  width: 50px;
  display: block;
  font-size: 11px;
  padding-top: 8px;
  font-weight: bold;          
}
.next {
    float: right;
    text-align: right;
}

div.contents{
  margin: 0 7.2% 0 4.6%;

  background: #7f7f7f;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  padding: 10px;
  min-height: 400px;
  max-height: 500px;
  h1{
    margin-top: 0;
    margin-bottom: 15px;
  }
}
.form-group > a{
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
}
.btn-primary{
  background-color: #cc0303;
  border-color: #ba0404;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
  border-color: #ba0404;
  background-color: #c00404;
}
footer{
  p{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
  }
  p#margin-align{
    margin-top: 0;
    margin-bottom: 8px;
  }
}