.event-page{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  h1{
    margin-top: 0;
    margin-bottom: 15px;
  }
}

div.col-md-5 {
  h3{
    text-align: center;
    margin-bottom: 20px;
  }
  p#event{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
  }
  p, td{
    font-family: 'Josefin Slab', Helvetica Neue, Helvetica, Arial;
    font-size: 14px;
  }

  td.dtime{
    text-align: right;
  }
  p.table-footer{
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
  }
}

div.col-md-7 {
  h3{
    text-align: center;
    margin-bottom: 20px;
  }
  p#event{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
  }
  p, td{
    font-family: 'Josefin Slab', Helvetica Neue, Helvetica, Arial;
    font-size: 14px;
  }
  p.table-footer{
    font-size: 14px;
    text-align: center;
  }
  td.realign-image{
    width: 150px;
    text-align: right;
  }
  td.align-date{
    width: 168px;
  }
  
  td.custom-align{
    text-align: left;
  }
}
.col-md-4{
  text-align: center;
  padding-top: 15px;
  .img-thumbnail{
    max-height: 280px;
  }
}
#committee-align{
  text-align: center;
  p{
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
  }
  h4{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
  }
  #height-adj{
    padding: 0;
  }
}
div.col-sm-6 {
    p#italic {
      font-style: italic;
      font-size: 14px;
      margin-bottom: 0;
      padding: 3px 8px 0 0;
      text-align: right;
    }
  }
div.committee-page{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;

  h5{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 18px;
  }
  h1{
    margin-top: 0;
    margin-bottom: 15px;
  }
  #margin-realign{
    margin-top: 10px;
  }
  .table-foot{
    margin-bottom: 0;
  }
  .col-md-12{
    text-align: center;
  }
  #managing-committee-members-wrapper {
    margin-bottom: 2rem;
  }
}
.col-lg-12{
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  font-weight: 600;
}
.col-xs-2{
  text-align: center;
  width: 12%;
}