// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h3 {
  color: #cc0303;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

.page-header{
  margin: 2% 6% 0.9%;
  padding: 0;
  
  #logo{
    margin-bottom: -1%;
  }

  #logo, #page-title{
    display: inline-block;
  }
  #page-title p{
    margin: 0;
    font-size: 3.125em;
    font-family: 'Arimo', sans-serif;
    color: #fff;
    text-shadow: 2.5px 2px #FF7902;
  }
}

.nav{
  margin: 0 6% 0.9% 6%;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}
.resize{
  display: block;
  width: 80px;
  height: 80px;
}
div#index-view{
  margin: 0 6.0% 0% 5.8%;
  background: #7f7f7f;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  padding: 10px;
  height: 100%;
  #index-content{
    font-family: 'Josefin Slab', serif;
    font-size: 1.175em;
    font-weight: 600;
  }
}