// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h3 {
  color: #cc0303;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

.page-header{
  margin: 2% 6% 0.9% 6%;
  padding: 0;
}

.nav{
  margin: 0 6% 0.9% 6%;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}
.resize{
  display: block;
  width: 80px;
  height: 80px;
}
.media-heading{
  margin-top: 2.5%;
}
div#index-view{
  margin: 0 6.0% 3% 5.8%;
  background-attachment: fixed;
  background: #7f7f7f;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  padding: 10px;
  height: 800px;
}

div.col-md-12{
  padding: 12px;
  background: #FFFFFF;
  background: rgba(233,233,233,0.1);
  border-bottom-right-radius: 0.313em;
  border-bottom-left-radius: 0.313em;
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
  font-weight: 600;
}